<div class="min-h-screen bg-gray-100 p-6">
  <div class="text-center text-2xl font-bold mb-6">Weather Trends in Cities by Date Range</div>
  <div class="flex justify-evenly items-center mb-6 gap-5" [formGroup]="chartConfigFormGroup">
    <div class="flex gap-5 justify-between space-x-4">
      <mat-form-field>
        <mat-label>Please select region</mat-label>
        <mat-select formControlName="regions" multiple>
          @for (region of regions; track region.id) {
            <mat-option [value]="{name: region.name, location: region.location}">{{ region.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" formControlName="startDate">
          <input matEndDate placeholder="End date" formControlName="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <app-button
      (clicked)="updateCharts()"
      [isViewerDisabled]="chartConfigFormGroup.invalid"
      [viewerTooltip]="'Please fill all required fields'"
      [title]="!this.chartData() ? 'Add Chart' : 'Update Charts'"
    />
  </div>
  @if (this.chartData(); as chartData) {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      @for (data of chartData; track data.title) {
        <app-chart-widget
          [chartType]="data.type"
          [chartTitle]="data.title"
          [chartData]="data.data"
          [chartDate]="data.date"
        >
        </app-chart-widget>
      }
    </div>
  }
</div>
